<!DOCTYPE html>
<html>
  <head>
    <title>React Rails Games</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <section class="Notification">
      <p class="Notification-notice"><%= notice %></p>
      <p class="Notification-alert"><%= alert %></p>
    </section>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
